AWS_ACCESS_KEY_ID="xxxx"
AWS_SECRET_ACCESS_KEY="xxxx"
AWS_DEFAULT_REGION="eu-west-3"
AWS_REGION="eu-west-3"
S3_BUCKET_NAME="aws-s3-mlflow"

MLFLOW_URI="https://gviel-mlflow37.hf.space/"
EXPERIMENT_NAME="Get_Around"
MODEL_NAME="getaround_pricing"
